body{
    background-color: black;
    color: white;
}

 a{
     color: white;
     text-decoration: none;
 }

 header{
     background-image: url("back.jpg");
     background-color: teal;
     text-align: center;
     padding: 5px;
     height: 450px;
 }

 .logo{
     padding: 5px;
     width: 150px;
     height: 40;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

p.top-line{
     font-size: 15px;
 }
 header{
     
 }